#First, I need to import something

In [0]:
import pandas as pd
import numpy as np

# Read CSV file 
I downloaded it and import to this path: '/content/PostCode_Canada.csv'

In [160]:
df = pd.read_csv('/content/PostCode_Canada.csv')
df.head()

  Postcode       Borough   Neighbourhood
0      M9Z  Not assigned    Not assigned
1      M9Y  Not assigned    Not assigned
2      M9X  Not assigned    Not assigned
3      M9W     Etobicoke       Northwest
4      M9V     Etobicoke  Albion Gardens

#Remove *Not assigned* value in **Borough**

In [161]:
df["Borough"].replace("Not assigned", np.nan, inplace=True)
df.dropna(subset=["Borough"], axis=0, inplace=True)
df.index = range(len(df.index))
df.head()

  Postcode    Borough     Neighbourhood
0      M9W  Etobicoke         Northwest
1      M9V  Etobicoke    Albion Gardens
2      M9V  Etobicoke  Beaumond Heights
3      M9V  Etobicoke        Humbergate
4      M9V  Etobicoke         Jamestown

# Next, *Not assigned* in **Neighbourhood** is filled by value of **Borough**

In [0]:
for i, row in df.iterrows():
  if df.loc[i]["Neighbourhood"] == "Not assigned":
    df.loc[i]["Neighbourhood"] = df.loc[i]["Borough"]

#Combinate all same Postcode values.

In [0]:
pre_i = 0
for i, row in df.iterrows():
  if i == 0:
    continue
  if df.loc[pre_i]["Postcode"] == row["Postcode"]:
    df.loc[pre_i]["Neighbourhood"] += ", " + row["Neighbourhood"]
    df.drop(labels=i, axis=0, inplace=True)
  else:
    pre_i = i

# Finally, reindex df and show it

In [164]:
df.index = range(len(df.index))
df.head()

  Postcode    Borough                                      Neighbourhood
0      M9W  Etobicoke                                          Northwest
1      M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
2      M9R  Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
3      M9P  Etobicoke                                          Westmount
4      M9N       York                                             Weston

In [165]:
df.shape

(103, 3)